body {
    background-color: #000000;
    color: #ddd;
}

.form-control {
    color: #ccc;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 7px 0px rgba(0, 0, 0, 0.8) inset;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3);
    border: 0px none;
}

html {
    background-color: inherit;
}

.repeated-time .cob-chat_time,
.repeated-time .cob-chat_time_delimiters {
    background-color: transparent;
    color: #333;
}

.nav-pills > li.active > a {
    background-color: #555;
}

/* fix for mobile firefox which ignores :hover */
.nav-pills > li > a:active, .nav-pills > li > a:active span, .nav-pills > li.active > a:hover {
    background-color: #eee;
    color: #222;
}

tr.bufferline:hover {
    background-color: #222222;
}

.danger, .alert-danger, .badge .alert-danger, .badge.danger {
    background-color: rgb(217, 83, 79);
    color: #ddd;
}
.alert-danger {
    border-color: #121212;
    color: black;
}

.btn-default {
    background-color: #555;
    border-color: #444;
}
.btn-default:hover {
    background-color: #666;
    border-color: #555;
}

li.notification {
    color: green;
}

::-webkit-scrollbar-track-piece  {
    background-color: black;
}
::-webkit-scrollbar-thumb:vertical {
    height: 15px;
    background: rgba(255,255,255,0.5);
}

.gb-modal .backdrop {
    background-color:rgba(0, 0, 0, 0.5)
}

input[type=text], input[type=password], #sendMessage, .badge {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 7px 0px rgba(0, 0, 0, 0.8) inset;
}

input[type=text], input[type=password], #sendMessage, .badge, .btn-send {
    color: #ccc;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3);
}

.btn-send:hover, .btn-send:focus {
    background-color: #555;
    color: white;
}

#connection-infos {
    color: #aaa;
}

.nav-pills li:nth-child(2n) {
    background: #232323;
}

.nav-pills > li > a {
    color: #ddd;
}

.nav-pills > li > a:hover, .nav-pills > li > a:hover span {
    color: #222;
}

.color-light-green {
    color: chartreuse;
}

.color-27 {
    color: deepskyblue;
}

#topbar .actions {
    background: #282828;
    color: #666;
}

#topbar, #sidebar, .panel, .dropdown-menu, .modal-content {
    background: #282828;
}

#nicklist a:hover {
    background: #3b3b3b;
}

.horizontal-line {
    -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
    border-bottom: 1px solid #121212;
}
.vertical-line {
    -webkit-box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0;
    box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0;
    border-right: 1px solid #121212;
}
.vertical-line-left {
    -webkit-box-shadow: rgba(255, 255, 255, 0.07) -1px 0 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.07) -1px 0 0;
    box-shadow: rgba(255, 255, 255, 0.07) -1px 0 0;
    border-left: 1px solid #121212;
}
.panel-group .panel-heading + .panel-collapse .panel-body, .modal-body, .modal-header, .modal-footer {
    -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 -1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 -1px 0;
    box-shadow: rgba(255, 255, 255, 0.07) 0 -1px 0;
    border-top: 1px solid #121212;
}

#readmarker {
    border-top-color: rgba(255, 255, 255, 0.3);
    border-bottom-color: #121212;
}

/****************************/
/* Weechat colors and style */
/****************************/
/* style options, foreground */
.cof-separator {
    color: #68b5d4;
}
.cof-chat {
    color: #d9d9d9;
}
.cof-chat_time {
    color: #f7f7f7;
}
.cof-chat_time_delimiters {
    color: #cc843b;
}
.cof-chat_prefix_error {
    color: #ffe377;
}
.cof-chat_prefix_network {
    color: #fbb1f9;
}
.cof-chat_prefix_action {
    color: #f7f7f7;
}
.cof-chat_prefix_join {
    color: #cdee69;
}
.cof-chat_prefix_quit {
    color: #c75646;
}
.cof-chat_prefix_more {
    color: #fbb1f9;
}
.cof-chat_prefix_suffix {
    color: #cdee69;
}
.cof-chat_buffer {
    color: #f7f7f7;
}
.cof-chat_server {
    color: #cc843b;
}
.cof-chat_channel {
    color: #f7f7f7;
}
.cof-chat_nick {
    color: #77dfd8;
}
.cof-chat_nick_self {
    color: #ffffff;
    font-weight: bold;
}
.cof-chat_nick_other {
    color: #77dfd8;
}
.cof-invalid {
    /* should never happen */
    color: #f7f7f7;
    background-color: transparent;
}
.cof-chat_host {
    color: #77dfd8;
}
.cof-chat_delimiters {
    color: #cdee69;
}
.cof-chat_highlight {
    color: #ffe377;
    background-color: #c8a0d1;
}
.cof-chat_read_marker {
    color: #fbb1f9;
}
.cof-chat_text_found {
    color: #ffe377;
}
.cof-chat_value {
    color: #77dfd8;
}
.cof-chat_prefix_buffer {
    color: #cc843b;
}
.cof-chat_tags {
    color: #c75646;
}
.cof-chat_inactive_window {
    color: #5d5d5d;
}
.cof-chat_inactive_buffer {
    color: #5d5d5d;
}
.cof-chat_prefix_buffer_inactive_buffer {
    color: #5d5d5d;
}
.cof-chat_nick_offline {
    color: #5d5d5d;
}
.cof-chat_nick_offline_highlight {
    color: #f7f7f7;
    background-color: #5d5d5d;
}
.cof-chat_nick_prefix {
    color: #cdee69;
}
.cof-chat_nick_suffix {
    color: #cdee69;
}
.cof-emphasis {
    color: #ffe377;
    background-color: #c8a0d1;
}
.cof-chat_day_change {
    color: #77dfd8;
}

/* style options, background */
.cob-separator {
}
.cob-chat {
}
.cob-chat_time {
    color: #999; 
}
.cob-chat_time_delimiters {
}
.cob-chat_prefix_error {
}
.cob-chat_prefix_network {
}
.cob-chat_prefix_action {
}
.cob-chat_prefix_join {
}
.cob-chat_prefix_quit {
}
.cob-chat_prefix_more {
}
.cob-chat_prefix_suffix {
}
.cob-chat_buffer {
}
.cob-chat_server {
}
.cob-chat_channel {
}
.cob-chat_nick {
}
.cob-chat_nick_self {
}
.cob-chat_nick_other {
}
.cob-invalid {
}
.cob-chat_host {
}
.cob-chat_delimiters {
}
.cob-chat_highlight {
    background-color: #c8a0d1;
}
.cob-chat_read_marker {
}
.cob-chat_text_found {
}
.cob-chat_value {
}
.cob-chat_prefix_buffer {
}
.cob-chat_tags {
}
.cob-chat_inactive_window {
}
.cob-chat_inactive_buffer {
}
.cob-chat_prefix_buffer_inactive_buffer {
}
.cob-chat_nick_offline {
}
.cob-chat_nick_offline_highlight {
    background-color: #5d5d5d;
}
.cob-chat_nick_prefix {
}
.cob-chat_nick_suffix {
}
.cob-emphasis {
    background-color: #c8a0d1;
}
.cob-chat_day_change {
}

/* style options, attributes */
.coa-separator {
}
.coa-chat {
}
.coa-chat_time {
}
.coa-chat_time_delimiters {
}
.coa-chat_prefix_error {
}
.coa-chat_prefix_network {
}
.coa-chat_prefix_action {
}
.coa-chat_prefix_join {
}
.coa-chat_prefix_quit {
}
.coa-chat_prefix_more {
}
.coa-chat_prefix_suffix {
}
.coa-chat_buffer {
}
.coa-chat_server {
}
.coa-chat_channel {
}
.coa-chat_nick {
}
.coa-chat_nick_self {
}
.coa-chat_nick_other {
}
.coa-invalid {
}
.coa-chat_host {
}
.coa-chat_delimiters {
}
.coa-chat_highlight {
}
.coa-chat_read_marker {
}
.coa-chat_text_found {
}
.coa-chat_value {
}
.coa-chat_prefix_buffer {
}
.coa-chat_tags {
}
.coa-chat_inactive_window {
}
.coa-chat_inactive_buffer {
}
.coa-chat_prefix_buffer_inactive_buffer {
}
.coa-chat_nick_offline {
}
.coa-chat_nick_offline_highlight {
}
.coa-chat_nick_prefix {
}
.coa-chat_nick_suffix {
}
.coa-emphasis {
}
.coa-chat_day_change {
}

/* WeeChat colors, foreground */
.cwf-default {
    color: #d9d9d9;
}
.light-theme .cwf-default {
    color: #282828;
}
.cwf-black {
    color: #000000;
}
.cwf-darkgray {
    color: #5d5d5d;
}
.cwf-red {
    color: #c75646;
}
.cwf-lightred {
    color: #e09690;
}
.cwf-green {
    color: #8eb33b;
}
.cwf-lightgreen {
    color: #cdee69;
}
.cwf-brown {
    color: #b27232;
}
.cwf-yellow {
    color: #ffe377;
}
.cwf-blue {
    color: #72b3cc;
}
.cwf-lightblue {
    color: #9cd9f0;
}
.cwf-magenta {
    color: #c8a0d1;
}
.cwf-lightmagenta {
    color: #fbb1f9;
}
.cwf-cyan {
    color: #218693;
}
.cwf-lightcyan {
    color: #77dfd8;
}
.cwf-gray {
    color: #b0b0b0;
}
.cwf-white {
    color: #f7f7f7;
}

/* WeeChat colors, background */
.cwb-default {
    background-color: transparent;
}
.cwb-black {
    background-color: #000000;
}
.cwb-darkgray {
    background-color: #5d5d5d;
}
.cwb-red {
    background-color: #c75646;
}
.cwb-lightred {
    background-color: #e09690;
}
.cwb-green {
    background-color: #8eb33b;
}
.cwb-lightgreen {
    background-color: #cdee69;
}
.cwb-brown {
    background-color: #b27232;
}
.cwb-yellow {
    background-color: #ffe377;
}
.cwb-blue {
    background-color: #72b3cc;
}
.cwb-lightblue {
    background-color: #9cd9f0;
}
.cwb-magenta {
    background-color: #c8a0d1;
}
.cwb-lightmagenta {
    background-color: #fbb1f9;
}
.cwb-cyan {
    background-color: #218693;
}
.cwb-lightcyan {
    background-color: #77dfd8;
}
.cwb-gray {
    background-color: #b0b0b0;
}
.cwb-white {
    background-color: #f7f7f7;
}

/* extended colors, foreground */
.cef-0 {
    color: #000000; /* 000 Black */
}
.cef-1 {
    color: #7f0000; /* 001 DarkRed */
}
.cef-2 {
    color: #00cd00; /* 002 DarkGreen */
}
.cef-3 {
    color: #fc7f00; /* 003 Orange */
}
.cef-4 {
    color: #0000ee; /* 004 DarkBlue */
}
.cef-5 {
    color: #cd00cd; /* 005 DarkMagenta */
}
.cef-6 {
    color: #00cdcd; /* 006 DarkCyan */
}
.cef-7 {
    color: #e5e5e5; /* 007 LightGrey */
}
.cef-8 {
    color: #7f7f7f; /* 008 DarkGrey */
}
.cef-9 {
    color: #ff0000; /* 009 LightRed */
}
.cef-10 {
    color: #00ff00; /* 010 LightGreen */
}
.cef-11 {
    color: #ffff00; /* 011 LightYellow */
}
.cef-12 {
    color: #5c5cff; /* 012 LightBlue */
}
.cef-13 {
    color: #ff00ff; /* 013 LightMagenta */
}
.cef-14 {
    color: #00ffff; /* 014 LightCyan */
}
.cef-15 {
    color: #ffffff; /* 015 White */
}
.cef-16 {
    color: #000000; /* 016 Grey0 */
}
.cef-17 {
    color: #00005f; /* 017 NavyBlue */
}
.cef-18 {
    color: #000087; /* 018 DarkBlue */
}
.cef-19 {
    color: #0000af; /* 019 Blue3 */
}
.cef-20 {
    color: #0000d7; /* 020 Blue3 */
}
.cef-21 {
    color: #0000ff; /* 021 Blue1 */
}
.cef-22 {
    color: #005f00; /* 022 DarkGreen */
}
.cef-23 {
    color: #005f5f; /* 023 DeepSkyBlue4 */
}
.cef-24 {
    color: #005f87; /* 024 DeepSkyBlue4 */
}
.cef-25 {
    color: #005faf; /* 025 DeepSkyBlue4 */
}
.cef-26 {
    color: #005fd7; /* 026 DodgerBlue3 */
}
.cef-27 {
    color: #005fff; /* 027 DodgerBlue2 */
}
.cef-28 {
    color: #008700; /* 028 Green4 */
}
.cef-29 {
    color: #00875f; /* 029 SpringGreen4 */
}
.cef-30 {
    color: #008787; /* 030 Turquoise4 */
}
.cef-31 {
    color: #0087af; /* 031 DeepSkyBlue3 */
}
.cef-32 {
    color: #0087d7; /* 032 DeepSkyBlue3 */
}
.cef-33 {
    color: #0087ff; /* 033 DodgerBlue1 */
}
.cef-34 {
    color: #00af00; /* 034 Green3 */
}
.cef-35 {
    color: #00af5f; /* 035 SpringGreen3 */
}
.cef-36 {
    color: #00af87; /* 036 DarkCyan */
}
.cef-37 {
    color: #00afaf; /* 037 LightSeaGreen */
}
.cef-38 {
    color: #00afd7; /* 038 DeepSkyBlue2 */
}
.cef-39 {
    color: #00afff; /* 039 DeepSkyBlue1 */
}
.cef-40 {
    color: #00d700; /* 040 Green3 */
}
.cef-41 {
    color: #00d75f; /* 041 SpringGreen3 */
}
.cef-42 {
    color: #00d787; /* 042 SpringGreen2 */
}
.cef-43 {
    color: #00d7af; /* 043 Cyan3 */
}
.cef-44 {
    color: #00d7d7; /* 044 DarkTurquoise */
}
.cef-45 {
    color: #00d7ff; /* 045 Turquoise2 */
}
.cef-46 {
    color: #00ff00; /* 046 Green1 */
}
.cef-47 {
    color: #00ff5f; /* 047 SpringGreen2 */
}
.cef-48 {
    color: #00ff87; /* 048 SpringGreen1 */
}
.cef-49 {
    color: #00ffaf; /* 049 MediumSpringGreen */
}
.cef-50 {
    color: #00ffd7; /* 050 Cyan2 */
}
.cef-51 {
    color: #00ffff; /* 051 Cyan1 */
}
.cef-52 {
    color: #5f0000; /* 052 DarkRed */
}
.cef-53 {
    color: #5f005f; /* 053 DeepPink4 */
}
.cef-54 {
    color: #5f0087; /* 054 Purple4 */
}
.cef-55 {
    color: #5f00af; /* 055 Purple4 */
}
.cef-56 {
    color: #5f00d7; /* 056 Purple3 */
}
.cef-57 {
    color: #5f00ff; /* 057 BlueViolet */
}
.cef-58 {
    color: #5f5f00; /* 058 Orange4 */
}
.cef-59 {
    color: #5f5f5f; /* 059 Grey37 */
}
.cef-60 {
    color: #5f5f87; /* 060 MediumPurple4 */
}
.cef-61 {
    color: #5f5faf; /* 061 SlateBlue3 */
}
.cef-62 {
    color: #5f5fd7; /* 062 SlateBlue3 */
}
.cef-63 {
    color: #5f5fff; /* 063 RoyalBlue1 */
}
.cef-64 {
    color: #5f8700; /* 064 Chartreuse4 */
}
.cef-65 {
    color: #5f875f; /* 065 DarkSeaGreen4 */
}
.cef-66 {
    color: #5f8787; /* 066 PaleTurquoise4 */
}
.cef-67 {
    color: #5f87af; /* 067 SteelBlue */
}
.cef-68 {
    color: #5f87d7; /* 068 SteelBlue3 */
}
.cef-69 {
    color: #5f87ff; /* 069 CornflowerBlue */
}
.cef-70 {
    color: #5faf00; /* 070 Chartreuse3 */
}
.cef-71 {
    color: #5faf5f; /* 071 DarkSeaGreen4 */
}
.cef-72 {
    color: #5faf87; /* 072 CadetBlue */
}
.cef-73 {
    color: #5fafaf; /* 073 CadetBlue */
}
.cef-74 {
    color: #5fafd7; /* 074 SkyBlue3 */
}
.cef-75 {
    color: #5fafff; /* 075 SteelBlue1 */
}
.cef-76 {
    color: #5fd700; /* 076 Chartreuse3 */
}
.cef-77 {
    color: #5fd75f; /* 077 PaleGreen3 */
}
.cef-78 {
    color: #5fd787; /* 078 SeaGreen3 */
}
.cef-79 {
    color: #5fd7af; /* 079 Aquamarine3 */
}
.cef-80 {
    color: #5fd7d7; /* 080 MediumTurquoise */
}
.cef-81 {
    color: #5fd7ff; /* 081 SteelBlue1 */
}
.cef-82 {
    color: #5fff00; /* 082 Chartreuse2 */
}
.cef-83 {
    color: #5fff5f; /* 083 SeaGreen2 */
}
.cef-84 {
    color: #5fff87; /* 084 SeaGreen1 */
}
.cef-85 {
    color: #5fffaf; /* 085 SeaGreen1 */
}
.cef-86 {
    color: #5fffd7; /* 086 Aquamarine1 */
}
.cef-87 {
    color: #5fffff; /* 087 DarkSlateGray2 */
}
.cef-88 {
    color: #870000; /* 088 DarkRed */
}
.cef-89 {
    color: #87005f; /* 089 DeepPink4 */
}
.cef-90 {
    color: #870087; /* 090 DarkMagenta */
}
.cef-91 {
    color: #8700af; /* 091 DarkMagenta */
}
.cef-92 {
    color: #8700d7; /* 092 DarkViolet */
}
.cef-93 {
    color: #8700ff; /* 093 Purple */
}
.cef-94 {
    color: #875f00; /* 094 Orange4 */
}
.cef-95 {
    color: #875f5f; /* 095 LightPink4 */
}
.cef-96 {
    color: #875f87; /* 096 Plum4 */
}
.cef-97 {
    color: #875faf; /* 097 MediumPurple3 */
}
.cef-98 {
    color: #875fd7; /* 098 MediumPurple3 */
}
.cef-99 {
    color: #875fff; /* 099 SlateBlue1 */
}
.cef-100 {
    color: #878700; /* 100 Yellow4 */
}
.cef-101 {
    color: #87875f; /* 101 Wheat4 */
}
.cef-102 {
    color: #878787; /* 102 Grey53 */
}
.cef-103 {
    color: #8787af; /* 103 LightSlateGrey */
}
.cef-104 {
    color: #8787d7; /* 104 MediumPurple */
}
.cef-105 {
    color: #8787ff; /* 105 LightSlateBlue */
}
.cef-106 {
    color: #87af00; /* 106 Yellow4 */
}
.cef-107 {
    color: #87af5f; /* 107 DarkOliveGreen3 */
}
.cef-108 {
    color: #87af87; /* 108 DarkSeaGreen */
}
.cef-109 {
    color: #87afaf; /* 109 LightSkyBlue3 */
}
.cef-110 {
    color: #87afd7; /* 110 LightSkyBlue3 */
}
.cef-111 {
    color: #87afff; /* 111 SkyBlue2 */
}
.cef-112 {
    color: #87d700; /* 112 Chartreuse2 */
}
.cef-113 {
    color: #87d75f; /* 113 DarkOliveGreen3 */
}
.cef-114 {
    color: #87d787; /* 114 PaleGreen3 */
}
.cef-115 {
    color: #87d7af; /* 115 DarkSeaGreen3 */
}
.cef-116 {
    color: #87d7d7; /* 116 DarkSlateGray3 */
}
.cef-117 {
    color: #87d7ff; /* 117 SkyBlue1 */
}
.cef-118 {
    color: #87ff00; /* 118 Chartreuse1 */
}
.cef-119 {
    color: #87ff5f; /* 119 LightGreen */
}
.cef-120 {
    color: #87ff87; /* 120 LightGreen */
}
.cef-121 {
    color: #87ffaf; /* 121 PaleGreen1 */
}
.cef-122 {
    color: #87ffd7; /* 122 Aquamarine1 */
}
.cef-123 {
    color: #87ffff; /* 123 DarkSlateGray1 */
}
.cef-124 {
    color: #af0000; /* 124 Red3 */
}
.cef-125 {
    color: #af005f; /* 125 DeepPink4 */
}
.cef-126 {
    color: #af0087; /* 126 MediumVioletRed */
}
.cef-127 {
    color: #af00af; /* 127 Magenta3 */
}
.cef-128 {
    color: #af00d7; /* 128 DarkViolet */
}
.cef-129 {
    color: #af00ff; /* 129 Purple */
}
.cef-130 {
    color: #af5f00; /* 130 DarkOrange3 */
}
.cef-131 {
    color: #af5f5f; /* 131 IndianRed */
}
.cef-132 {
    color: #af5f87; /* 132 HotPink3 */
}
.cef-133 {
    color: #af5faf; /* 133 MediumOrchid3 */
}
.cef-134 {
    color: #af5fd7; /* 134 MediumOrchid */
}
.cef-135 {
    color: #af5fff; /* 135 MediumPurple2 */
}
.cef-136 {
    color: #af8700; /* 136 DarkGoldenrod */
}
.cef-137 {
    color: #af875f; /* 137 LightSalmon3 */
}
.cef-138 {
    color: #af8787; /* 138 RosyBrown */
}
.cef-139 {
    color: #af87af; /* 139 Grey63 */
}
.cef-140 {
    color: #af87d7; /* 140 MediumPurple2 */
}
.cef-141 {
    color: #af87ff; /* 141 MediumPurple1 */
}
.cef-142 {
    color: #afaf00; /* 142 Gold3 */
}
.cef-143 {
    color: #afaf5f; /* 143 DarkKhaki */
}
.cef-144 {
    color: #afaf87; /* 144 NavajoWhite3 */
}
.cef-145 {
    color: #afafaf; /* 145 Grey69 */
}
.cef-146 {
    color: #afafd7; /* 146 LightSteelBlue3 */
}
.cef-147 {
    color: #afafff; /* 147 LightSteelBlue */
}
.cef-148 {
    color: #afd700; /* 148 Yellow3 */
}
.cef-149 {
    color: #afd75f; /* 149 DarkOliveGreen3 */
}
.cef-150 {
    color: #afd787; /* 150 DarkSeaGreen3 */
}
.cef-151 {
    color: #afd7af; /* 151 DarkSeaGreen2 */
}
.cef-152 {
    color: #afd7d7; /* 152 LightCyan3 */
}
.cef-153 {
    color: #afd7ff; /* 153 LightSkyBlue1 */
}
.cef-154 {
    color: #afff00; /* 154 GreenYellow */
}
.cef-155 {
    color: #afff5f; /* 155 DarkOliveGreen2 */
}
.cef-156 {
    color: #afff87; /* 156 PaleGreen1 */
}
.cef-157 {
    color: #afffaf; /* 157 DarkSeaGreen2 */
}
.cef-158 {
    color: #afffd7; /* 158 DarkSeaGreen1 */
}
.cef-159 {
    color: #afffff; /* 159 PaleTurquoise1 */
}
.cef-160 {
    color: #d70000; /* 160 Red3 */
}
.cef-161 {
    color: #d7005f; /* 161 DeepPink3 */
}
.cef-162 {
    color: #d70087; /* 162 DeepPink3 */
}
.cef-163 {
    color: #d700af; /* 163 Magenta3 */
}
.cef-164 {
    color: #d700d7; /* 164 Magenta3 */
}
.cef-165 {
    color: #d700ff; /* 165 Magenta2 */
}
.cef-166 {
    color: #d75f00; /* 166 DarkOrange3 */
}
.cef-167 {
    color: #d75f5f; /* 167 IndianRed */
}
.cef-168 {
    color: #d75f87; /* 168 HotPink3 */
}
.cef-169 {
    color: #d75faf; /* 169 HotPink2 */
}
.cef-170 {
    color: #d75fd7; /* 170 Orchid */
}
.cef-171 {
    color: #d75fff; /* 171 MediumOrchid1 */
}
.cef-172 {
    color: #d78700; /* 172 Orange3 */
}
.cef-173 {
    color: #d7875f; /* 173 LightSalmon3 */
}
.cef-174 {
    color: #d78787; /* 174 LightPink3 */
}
.cef-175 {
    color: #d787af; /* 175 Pink3 */
}
.cef-176 {
    color: #d787d7; /* 176 Plum3 */
}
.cef-177 {
    color: #d787ff; /* 177 Violet */
}
.cef-178 {
    color: #d7af00; /* 178 Gold3 */
}
.cef-179 {
    color: #d7af5f; /* 179 LightGoldenrod3 */
}
.cef-180 {
    color: #d7af87; /* 180 Tan */
}
.cef-181 {
    color: #d7afaf; /* 181 MistyRose3 */
}
.cef-182 {
    color: #d7afd7; /* 182 Thistle3 */
}
.cef-183 {
    color: #d7afff; /* 183 Plum2 */
}
.cef-184 {
    color: #d7d700; /* 184 Yellow3 */
}
.cef-185 {
    color: #d7d75f; /* 185 Khaki3 */
}
.cef-186 {
    color: #d7d787; /* 186 LightGoldenrod2 */
}
.cef-187 {
    color: #d7d7af; /* 187 LightYellow3 */
}
.cef-188 {
    color: #d7d7d7; /* 188 Grey84 */
}
.cef-189 {
    color: #d7d7ff; /* 189 LightSteelBlue1 */
}
.cef-190 {
    color: #d7ff00; /* 190 Yellow2 */
}
.cef-191 {
    color: #d7ff5f; /* 191 DarkOliveGreen1 */
}
.cef-192 {
    color: #d7ff87; /* 192 DarkOliveGreen1 */
}
.cef-193 {
    color: #d7ffaf; /* 193 DarkSeaGreen1 */
}
.cef-194 {
    color: #d7ffd7; /* 194 Honeydew2 */
}
.cef-195 {
    color: #d7ffff; /* 195 LightCyan1 */
}
.cef-196 {
    color: #ff0000; /* 196 Red1 */
}
.cef-197 {
    color: #ff005f; /* 197 DeepPink2 */
}
.cef-198 {
    color: #ff0087; /* 198 DeepPink1 */
}
.cef-199 {
    color: #ff00af; /* 199 DeepPink1 */
}
.cef-200 {
    color: #ff00d7; /* 200 Magenta2 */
}
.cef-201 {
    color: #ff00ff; /* 201 Magenta1 */
}
.cef-202 {
    color: #ff5f00; /* 202 OrangeRed1 */
}
.cef-203 {
    color: #ff5f5f; /* 203 IndianRed1 */
}
.cef-204 {
    color: #ff5f87; /* 204 IndianRed1 */
}
.cef-205 {
    color: #ff5faf; /* 205 HotPink */
}
.cef-206 {
    color: #ff5fd7; /* 206 HotPink */
}
.cef-207 {
    color: #ff5fff; /* 207 MediumOrchid1 */
}
.cef-208 {
    color: #ff8700; /* 208 DarkOrange */
}
.cef-209 {
    color: #ff875f; /* 209 Salmon1 */
}
.cef-210 {
    color: #ff8787; /* 210 LightCoral */
}
.cef-211 {
    color: #ff87af; /* 211 PaleVioletRed1 */
}
.cef-212 {
    color: #ff87d7; /* 212 Orchid2 */
}
.cef-213 {
    color: #ff87ff; /* 213 Orchid1 */
}
.cef-214 {
    color: #ffaf00; /* 214 Orange1 */
}
.cef-215 {
    color: #ffaf5f; /* 215 SandyBrown */
}
.cef-216 {
    color: #ffaf87; /* 216 LightSalmon1 */
}
.cef-217 {
    color: #ffafaf; /* 217 LightPink1 */
}
.cef-218 {
    color: #ffafd7; /* 218 Pink1 */
}
.cef-219 {
    color: #ffafff; /* 219 Plum1 */
}
.cef-220 {
    color: #ffd700; /* 220 Gold1 */
}
.cef-221 {
    color: #ffd75f; /* 221 LightGoldenrod2 */
}
.cef-222 {
    color: #ffd787; /* 222 LightGoldenrod2 */
}
.cef-223 {
    color: #ffd7af; /* 223 NavajoWhite1 */
}
.cef-224 {
    color: #ffd7d7; /* 224 MistyRose1 */
}
.cef-225 {
    color: #ffd7ff; /* 225 Thistle1 */
}
.cef-226 {
    color: #ffff00; /* 226 Yellow1 */
}
.cef-227 {
    color: #ffff5f; /* 227 LightGoldenrod1 */
}
.cef-228 {
    color: #ffff87; /* 228 Khaki1 */
}
.cef-229 {
    color: #ffffaf; /* 229 Wheat1 */
}
.cef-230 {
    color: #ffffd7; /* 230 Cornsilk1 */
}
.cef-231 {
    color: #ffffff; /* 231 Grey100 */
}
.cef-232 {
    color: #080808; /* 232 Grey3 */
}
.cef-233 {
    color: #121212; /* 233 Grey7 */
}
.cef-234 {
    color: #1c1c1c; /* 234 Grey11 */
}
.cef-235 {
    color: #262626; /* 235 Grey15 */
}
.cef-236 {
    color: #303030; /* 236 Grey19 */
}
.cef-237 {
    color: #3a3a3a; /* 237 Grey23 */
}
.cef-238 {
    color: #444444; /* 238 Grey27 */
}
.cef-239 {
    color: #4e4e4e; /* 239 Grey30 */
}
.cef-240 {
    color: #585858; /* 240 Grey35 */
}
.cef-241 {
    color: #626262; /* 241 Grey39 */
}
.cef-242 {
    color: #6c6c6c; /* 242 Grey42 */
}
.cef-243 {
    color: #767676; /* 243 Grey46 */
}
.cef-244 {
    color: #808080; /* 244 Grey50 */
}
.cef-245 {
    color: #8a8a8a; /* 245 Grey54 */
}
.cef-246 {
    color: #949494; /* 246 Grey58 */
}
.cef-247 {
    color: #9e9e9e; /* 247 Grey62 */
}
.cef-248 {
    color: #a8a8a8; /* 248 Grey66 */
}
.cef-249 {
    color: #b2b2b2; /* 249 Grey70 */
}
.cef-250 {
    color: #bcbcbc; /* 250 Grey74 */
}
.cef-251 {
    color: #c6c6c6; /* 251 Grey78 */
}
.cef-252 {
    color: #d0d0d0; /* 252 Grey82 */
}
.cef-253 {
    color: #dadada; /* 253 Grey85 */
}
.cef-254 {
    color: #e4e4e4; /* 254 Grey89 */
}
.cef-255 {
    color: #eeeeee; /* 255 Grey93 */
}

/* extended colors, background */
.ceb-0 {
    background-color: #000000; /* 000 Black */
}
.ceb-1 {
    background-color: #7f0000; /* 001 DarkRed */
}
.ceb-2 {
    background-color: #00cd00; /* 002 DarkGreen */
}
.ceb-3 {
    background-color: #fc7f00; /* 003 Orange */
}
.ceb-4 {
    background-color: #0000ee; /* 004 DarkBlue */
}
.ceb-5 {
    background-color: #cd00cd; /* 005 DarkMagenta */
}
.ceb-6 {
    background-color: #00cdcd; /* 006 DarkCyan */
}
.ceb-7 {
    background-color: #e5e5e5; /* 007 LightGrey */
}
.ceb-8 {
    background-color: #7f7f7f; /* 008 DarkGrey */
}
.ceb-9 {
    background-color: #ff0000; /* 009 LightRed */
}
.ceb-10 {
    background-color: #00ff00; /* 010 LightGreen */
}
.ceb-11 {
    background-color: #ffff00; /* 011 LightYellow */
}
.ceb-12 {
    background-color: #5c5cff; /* 012 LightBlue */
}
.ceb-13 {
    background-color: #ff00ff; /* 013 LightMagenta */
}
.ceb-14 {
    background-color: #00ffff; /* 014 LightCyan */
}
.ceb-15 {
    background-color: #ffffff; /* 015 White */
}
.ceb-16 {
    background-color: #000000; /* 016 Grey0 */
}
.ceb-17 {
    background-color: #00005f; /* 017 NavyBlue */
}
.ceb-18 {
    background-color: #000087; /* 018 DarkBlue */
}
.ceb-19 {
    background-color: #0000af; /* 019 Blue3 */
}
.ceb-20 {
    background-color: #0000d7; /* 020 Blue3 */
}
.ceb-21 {
    background-color: #0000ff; /* 021 Blue1 */
}
.ceb-22 {
    background-color: #005f00; /* 022 DarkGreen */
}
.ceb-23 {
    background-color: #005f5f; /* 023 DeepSkyBlue4 */
}
.ceb-24 {
    background-color: #005f87; /* 024 DeepSkyBlue4 */
}
.ceb-25 {
    background-color: #005faf; /* 025 DeepSkyBlue4 */
}
.ceb-26 {
    background-color: #005fd7; /* 026 DodgerBlue3 */
}
.ceb-27 {
    background-color: #005fff; /* 027 DodgerBlue2 */
}
.ceb-28 {
    background-color: #008700; /* 028 Green4 */
}
.ceb-29 {
    background-color: #00875f; /* 029 SpringGreen4 */
}
.ceb-30 {
    background-color: #008787; /* 030 Turquoise4 */
}
.ceb-31 {
    background-color: #0087af; /* 031 DeepSkyBlue3 */
}
.ceb-32 {
    background-color: #0087d7; /* 032 DeepSkyBlue3 */
}
.ceb-33 {
    background-color: #0087ff; /* 033 DodgerBlue1 */
}
.ceb-34 {
    background-color: #00af00; /* 034 Green3 */
}
.ceb-35 {
    background-color: #00af5f; /* 035 SpringGreen3 */
}
.ceb-36 {
    background-color: #00af87; /* 036 DarkCyan */
}
.ceb-37 {
    background-color: #00afaf; /* 037 LightSeaGreen */
}
.ceb-38 {
    background-color: #00afd7; /* 038 DeepSkyBlue2 */
}
.ceb-39 {
    background-color: #00afff; /* 039 DeepSkyBlue1 */
}
.ceb-40 {
    background-color: #00d700; /* 040 Green3 */
}
.ceb-41 {
    background-color: #00d75f; /* 041 SpringGreen3 */
}
.ceb-42 {
    background-color: #00d787; /* 042 SpringGreen2 */
}
.ceb-43 {
    background-color: #00d7af; /* 043 Cyan3 */
}
.ceb-44 {
    background-color: #00d7d7; /* 044 DarkTurquoise */
}
.ceb-45 {
    background-color: #00d7ff; /* 045 Turquoise2 */
}
.ceb-46 {
    background-color: #00ff00; /* 046 Green1 */
}
.ceb-47 {
    background-color: #00ff5f; /* 047 SpringGreen2 */
}
.ceb-48 {
    background-color: #00ff87; /* 048 SpringGreen1 */
}
.ceb-49 {
    background-color: #00ffaf; /* 049 MediumSpringGreen */
}
.ceb-50 {
    background-color: #00ffd7; /* 050 Cyan2 */
}
.ceb-51 {
    background-color: #00ffff; /* 051 Cyan1 */
}
.ceb-52 {
    background-color: #5f0000; /* 052 DarkRed */
}
.ceb-53 {
    background-color: #5f005f; /* 053 DeepPink4 */
}
.ceb-54 {
    background-color: #5f0087; /* 054 Purple4 */
}
.ceb-55 {
    background-color: #5f00af; /* 055 Purple4 */
}
.ceb-56 {
    background-color: #5f00d7; /* 056 Purple3 */
}
.ceb-57 {
    background-color: #5f00ff; /* 057 BlueViolet */
}
.ceb-58 {
    background-color: #5f5f00; /* 058 Orange4 */
}
.ceb-59 {
    background-color: #5f5f5f; /* 059 Grey37 */
}
.ceb-60 {
    background-color: #5f5f87; /* 060 MediumPurple4 */
}
.ceb-61 {
    background-color: #5f5faf; /* 061 SlateBlue3 */
}
.ceb-62 {
    background-color: #5f5fd7; /* 062 SlateBlue3 */
}
.ceb-63 {
    background-color: #5f5fff; /* 063 RoyalBlue1 */
}
.ceb-64 {
    background-color: #5f8700; /* 064 Chartreuse4 */
}
.ceb-65 {
    background-color: #5f875f; /* 065 DarkSeaGreen4 */
}
.ceb-66 {
    background-color: #5f8787; /* 066 PaleTurquoise4 */
}
.ceb-67 {
    background-color: #5f87af; /* 067 SteelBlue */
}
.ceb-68 {
    background-color: #5f87d7; /* 068 SteelBlue3 */
}
.ceb-69 {
    background-color: #5f87ff; /* 069 CornflowerBlue */
}
.ceb-70 {
    background-color: #5faf00; /* 070 Chartreuse3 */
}
.ceb-71 {
    background-color: #5faf5f; /* 071 DarkSeaGreen4 */
}
.ceb-72 {
    background-color: #5faf87; /* 072 CadetBlue */
}
.ceb-73 {
    background-color: #5fafaf; /* 073 CadetBlue */
}
.ceb-74 {
    background-color: #5fafd7; /* 074 SkyBlue3 */
}
.ceb-75 {
    background-color: #5fafff; /* 075 SteelBlue1 */
}
.ceb-76 {
    background-color: #5fd700; /* 076 Chartreuse3 */
}
.ceb-77 {
    background-color: #5fd75f; /* 077 PaleGreen3 */
}
.ceb-78 {
    background-color: #5fd787; /* 078 SeaGreen3 */
}
.ceb-79 {
    background-color: #5fd7af; /* 079 Aquamarine3 */
}
.ceb-80 {
    background-color: #5fd7d7; /* 080 MediumTurquoise */
}
.ceb-81 {
    background-color: #5fd7ff; /* 081 SteelBlue1 */
}
.ceb-82 {
    background-color: #5fff00; /* 082 Chartreuse2 */
}
.ceb-83 {
    background-color: #5fff5f; /* 083 SeaGreen2 */
}
.ceb-84 {
    background-color: #5fff87; /* 084 SeaGreen1 */
}
.ceb-85 {
    background-color: #5fffaf; /* 085 SeaGreen1 */
}
.ceb-86 {
    background-color: #5fffd7; /* 086 Aquamarine1 */
}
.ceb-87 {
    background-color: #5fffff; /* 087 DarkSlateGray2 */
}
.ceb-88 {
    background-color: #870000; /* 088 DarkRed */
}
.ceb-89 {
    background-color: #87005f; /* 089 DeepPink4 */
}
.ceb-90 {
    background-color: #870087; /* 090 DarkMagenta */
}
.ceb-91 {
    background-color: #8700af; /* 091 DarkMagenta */
}
.ceb-92 {
    background-color: #8700d7; /* 092 DarkViolet */
}
.ceb-93 {
    background-color: #8700ff; /* 093 Purple */
}
.ceb-94 {
    background-color: #875f00; /* 094 Orange4 */
}
.ceb-95 {
    background-color: #875f5f; /* 095 LightPink4 */
}
.ceb-96 {
    background-color: #875f87; /* 096 Plum4 */
}
.ceb-97 {
    background-color: #875faf; /* 097 MediumPurple3 */
}
.ceb-98 {
    background-color: #875fd7; /* 098 MediumPurple3 */
}
.ceb-99 {
    background-color: #875fff; /* 099 SlateBlue1 */
}
.ceb-100 {
    background-color: #878700; /* 100 Yellow4 */
}
.ceb-101 {
    background-color: #87875f; /* 101 Wheat4 */
}
.ceb-102 {
    background-color: #878787; /* 102 Grey53 */
}
.ceb-103 {
    background-color: #8787af; /* 103 LightSlateGrey */
}
.ceb-104 {
    background-color: #8787d7; /* 104 MediumPurple */
}
.ceb-105 {
    background-color: #8787ff; /* 105 LightSlateBlue */
}
.ceb-106 {
    background-color: #87af00; /* 106 Yellow4 */
}
.ceb-107 {
    background-color: #87af5f; /* 107 DarkOliveGreen3 */
}
.ceb-108 {
    background-color: #87af87; /* 108 DarkSeaGreen */
}
.ceb-109 {
    background-color: #87afaf; /* 109 LightSkyBlue3 */
}
.ceb-110 {
    background-color: #87afd7; /* 110 LightSkyBlue3 */
}
.ceb-111 {
    background-color: #87afff; /* 111 SkyBlue2 */
}
.ceb-112 {
    background-color: #87d700; /* 112 Chartreuse2 */
}
.ceb-113 {
    background-color: #87d75f; /* 113 DarkOliveGreen3 */
}
.ceb-114 {
    background-color: #87d787; /* 114 PaleGreen3 */
}
.ceb-115 {
    background-color: #87d7af; /* 115 DarkSeaGreen3 */
}
.ceb-116 {
    background-color: #87d7d7; /* 116 DarkSlateGray3 */
}
.ceb-117 {
    background-color: #87d7ff; /* 117 SkyBlue1 */
}
.ceb-118 {
    background-color: #87ff00; /* 118 Chartreuse1 */
}
.ceb-119 {
    background-color: #87ff5f; /* 119 LightGreen */
}
.ceb-120 {
    background-color: #87ff87; /* 120 LightGreen */
}
.ceb-121 {
    background-color: #87ffaf; /* 121 PaleGreen1 */
}
.ceb-122 {
    background-color: #87ffd7; /* 122 Aquamarine1 */
}
.ceb-123 {
    background-color: #87ffff; /* 123 DarkSlateGray1 */
}
.ceb-124 {
    background-color: #af0000; /* 124 Red3 */
}
.ceb-125 {
    background-color: #af005f; /* 125 DeepPink4 */
}
.ceb-126 {
    background-color: #af0087; /* 126 MediumVioletRed */
}
.ceb-127 {
    background-color: #af00af; /* 127 Magenta3 */
}
.ceb-128 {
    background-color: #af00d7; /* 128 DarkViolet */
}
.ceb-129 {
    background-color: #af00ff; /* 129 Purple */
}
.ceb-130 {
    background-color: #af5f00; /* 130 DarkOrange3 */
}
.ceb-131 {
    background-color: #af5f5f; /* 131 IndianRed */
}
.ceb-132 {
    background-color: #af5f87; /* 132 HotPink3 */
}
.ceb-133 {
    background-color: #af5faf; /* 133 MediumOrchid3 */
}
.ceb-134 {
    background-color: #af5fd7; /* 134 MediumOrchid */
}
.ceb-135 {
    background-color: #af5fff; /* 135 MediumPurple2 */
}
.ceb-136 {
    background-color: #af8700; /* 136 DarkGoldenrod */
}
.ceb-137 {
    background-color: #af875f; /* 137 LightSalmon3 */
}
.ceb-138 {
    background-color: #af8787; /* 138 RosyBrown */
}
.ceb-139 {
    background-color: #af87af; /* 139 Grey63 */
}
.ceb-140 {
    background-color: #af87d7; /* 140 MediumPurple2 */
}
.ceb-141 {
    background-color: #af87ff; /* 141 MediumPurple1 */
}
.ceb-142 {
    background-color: #afaf00; /* 142 Gold3 */
}
.ceb-143 {
    background-color: #afaf5f; /* 143 DarkKhaki */
}
.ceb-144 {
    background-color: #afaf87; /* 144 NavajoWhite3 */
}
.ceb-145 {
    background-color: #afafaf; /* 145 Grey69 */
}
.ceb-146 {
    background-color: #afafd7; /* 146 LightSteelBlue3 */
}
.ceb-147 {
    background-color: #afafff; /* 147 LightSteelBlue */
}
.ceb-148 {
    background-color: #afd700; /* 148 Yellow3 */
}
.ceb-149 {
    background-color: #afd75f; /* 149 DarkOliveGreen3 */
}
.ceb-150 {
    background-color: #afd787; /* 150 DarkSeaGreen3 */
}
.ceb-151 {
    background-color: #afd7af; /* 151 DarkSeaGreen2 */
}
.ceb-152 {
    background-color: #afd7d7; /* 152 LightCyan3 */
}
.ceb-153 {
    background-color: #afd7ff; /* 153 LightSkyBlue1 */
}
.ceb-154 {
    background-color: #afff00; /* 154 GreenYellow */
}
.ceb-155 {
    background-color: #afff5f; /* 155 DarkOliveGreen2 */
}
.ceb-156 {
    background-color: #afff87; /* 156 PaleGreen1 */
}
.ceb-157 {
    background-color: #afffaf; /* 157 DarkSeaGreen2 */
}
.ceb-158 {
    background-color: #afffd7; /* 158 DarkSeaGreen1 */
}
.ceb-159 {
    background-color: #afffff; /* 159 PaleTurquoise1 */
}
.ceb-160 {
    background-color: #d70000; /* 160 Red3 */
}
.ceb-161 {
    background-color: #d7005f; /* 161 DeepPink3 */
}
.ceb-162 {
    background-color: #d70087; /* 162 DeepPink3 */
}
.ceb-163 {
    background-color: #d700af; /* 163 Magenta3 */
}
.ceb-164 {
    background-color: #d700d7; /* 164 Magenta3 */
}
.ceb-165 {
    background-color: #d700ff; /* 165 Magenta2 */
}
.ceb-166 {
    background-color: #d75f00; /* 166 DarkOrange3 */
}
.ceb-167 {
    background-color: #d75f5f; /* 167 IndianRed */
}
.ceb-168 {
    background-color: #d75f87; /* 168 HotPink3 */
}
.ceb-169 {
    background-color: #d75faf; /* 169 HotPink2 */
}
.ceb-170 {
    background-color: #d75fd7; /* 170 Orchid */
}
.ceb-171 {
    background-color: #d75fff; /* 171 MediumOrchid1 */
}
.ceb-172 {
    background-color: #d78700; /* 172 Orange3 */
}
.ceb-173 {
    background-color: #d7875f; /* 173 LightSalmon3 */
}
.ceb-174 {
    background-color: #d78787; /* 174 LightPink3 */
}
.ceb-175 {
    background-color: #d787af; /* 175 Pink3 */
}
.ceb-176 {
    background-color: #d787d7; /* 176 Plum3 */
}
.ceb-177 {
    background-color: #d787ff; /* 177 Violet */
}
.ceb-178 {
    background-color: #d7af00; /* 178 Gold3 */
}
.ceb-179 {
    background-color: #d7af5f; /* 179 LightGoldenrod3 */
}
.ceb-180 {
    background-color: #d7af87; /* 180 Tan */
}
.ceb-181 {
    background-color: #d7afaf; /* 181 MistyRose3 */
}
.ceb-182 {
    background-color: #d7afd7; /* 182 Thistle3 */
}
.ceb-183 {
    background-color: #d7afff; /* 183 Plum2 */
}
.ceb-184 {
    background-color: #d7d700; /* 184 Yellow3 */
}
.ceb-185 {
    background-color: #d7d75f; /* 185 Khaki3 */
}
.ceb-186 {
    background-color: #d7d787; /* 186 LightGoldenrod2 */
}
.ceb-187 {
    background-color: #d7d7af; /* 187 LightYellow3 */
}
.ceb-188 {
    background-color: #d7d7d7; /* 188 Grey84 */
}
.ceb-189 {
    background-color: #d7d7ff; /* 189 LightSteelBlue1 */
}
.ceb-190 {
    background-color: #d7ff00; /* 190 Yellow2 */
}
.ceb-191 {
    background-color: #d7ff5f; /* 191 DarkOliveGreen1 */
}
.ceb-192 {
    background-color: #d7ff87; /* 192 DarkOliveGreen1 */
}
.ceb-193 {
    background-color: #d7ffaf; /* 193 DarkSeaGreen1 */
}
.ceb-194 {
    background-color: #d7ffd7; /* 194 Honeydew2 */
}
.ceb-195 {
    background-color: #d7ffff; /* 195 LightCyan1 */
}
.ceb-196 {
    background-color: #ff0000; /* 196 Red1 */
}
.ceb-197 {
    background-color: #ff005f; /* 197 DeepPink2 */
}
.ceb-198 {
    background-color: #ff0087; /* 198 DeepPink1 */
}
.ceb-199 {
    background-color: #ff00af; /* 199 DeepPink1 */
}
.ceb-200 {
    background-color: #ff00d7; /* 200 Magenta2 */
}
.ceb-201 {
    background-color: #ff00ff; /* 201 Magenta1 */
}
.ceb-202 {
    background-color: #ff5f00; /* 202 OrangeRed1 */
}
.ceb-203 {
    background-color: #ff5f5f; /* 203 IndianRed1 */
}
.ceb-204 {
    background-color: #ff5f87; /* 204 IndianRed1 */
}
.ceb-205 {
    background-color: #ff5faf; /* 205 HotPink */
}
.ceb-206 {
    background-color: #ff5fd7; /* 206 HotPink */
}
.ceb-207 {
    background-color: #ff5fff; /* 207 MediumOrchid1 */
}
.ceb-208 {
    background-color: #ff8700; /* 208 DarkOrange */
}
.ceb-209 {
    background-color: #ff875f; /* 209 Salmon1 */
}
.ceb-210 {
    background-color: #ff8787; /* 210 LightCoral */
}
.ceb-211 {
    background-color: #ff87af; /* 211 PaleVioletRed1 */
}
.ceb-212 {
    background-color: #ff87d7; /* 212 Orchid2 */
}
.ceb-213 {
    background-color: #ff87ff; /* 213 Orchid1 */
}
.ceb-214 {
    background-color: #ffaf00; /* 214 Orange1 */
}
.ceb-215 {
    background-color: #ffaf5f; /* 215 SandyBrown */
}
.ceb-216 {
    background-color: #ffaf87; /* 216 LightSalmon1 */
}
.ceb-217 {
    background-color: #ffafaf; /* 217 LightPink1 */
}
.ceb-218 {
    background-color: #ffafd7; /* 218 Pink1 */
}
.ceb-219 {
    background-color: #ffafff; /* 219 Plum1 */
}
.ceb-220 {
    background-color: #ffd700; /* 220 Gold1 */
}
.ceb-221 {
    background-color: #ffd75f; /* 221 LightGoldenrod2 */
}
.ceb-222 {
    background-color: #ffd787; /* 222 LightGoldenrod2 */
}
.ceb-223 {
    background-color: #ffd7af; /* 223 NavajoWhite1 */
}
.ceb-224 {
    background-color: #ffd7d7; /* 224 MistyRose1 */
}
.ceb-225 {
    background-color: #ffd7ff; /* 225 Thistle1 */
}
.ceb-226 {
    background-color: #ffff00; /* 226 Yellow1 */
}
.ceb-227 {
    background-color: #ffff5f; /* 227 LightGoldenrod1 */
}
.ceb-228 {
    background-color: #ffff87; /* 228 Khaki1 */
}
.ceb-229 {
    background-color: #ffffaf; /* 229 Wheat1 */
}
.ceb-230 {
    background-color: #ffffd7; /* 230 Cornsilk1 */
}
.ceb-231 {
    background-color: #ffffff; /* 231 Grey100 */
}
.ceb-232 {
    background-color: #080808; /* 232 Grey3 */
}
.ceb-233 {
    background-color: #121212; /* 233 Grey7 */
}
.ceb-234 {
    background-color: #1c1c1c; /* 234 Grey11 */
}
.ceb-235 {
    background-color: #262626; /* 235 Grey15 */
}
.ceb-236 {
    background-color: #303030; /* 236 Grey19 */
}
.ceb-237 {
    background-color: #3a3a3a; /* 237 Grey23 */
}
.ceb-238 {
    background-color: #444444; /* 238 Grey27 */
}
.ceb-239 {
    background-color: #4e4e4e; /* 239 Grey30 */
}
.ceb-240 {
    background-color: #585858; /* 240 Grey35 */
}
.ceb-241 {
    background-color: #626262; /* 241 Grey39 */
}
.ceb-242 {
    background-color: #6c6c6c; /* 242 Grey42 */
}
.ceb-243 {
    background-color: #767676; /* 243 Grey46 */
}
.ceb-244 {
    background-color: #808080; /* 244 Grey50 */
}
.ceb-245 {
    background-color: #8a8a8a; /* 245 Grey54 */
}
.ceb-246 {
    background-color: #949494; /* 246 Grey58 */
}
.ceb-247 {
    background-color: #9e9e9e; /* 247 Grey62 */
}
.ceb-248 {
    background-color: #a8a8a8; /* 248 Grey66 */
}
.ceb-249 {
    background-color: #b2b2b2; /* 249 Grey70 */
}
.ceb-250 {
    background-color: #bcbcbc; /* 250 Grey74 */
}
.ceb-251 {
    background-color: #c6c6c6; /* 251 Grey78 */
}
.ceb-252 {
    background-color: #d0d0d0; /* 252 Grey82 */
}
.ceb-253 {
    background-color: #dadada; /* 253 Grey85 */
}
.ceb-254 {
    background-color: #e4e4e4; /* 254 Grey89 */
}
.ceb-255 {
    background-color: #eeeeee; /* 255 Grey93 */
}

/* attributes overrides */
.a-b {
    font-weight: bold;
}
.a-no-b {
    font-weight: normal;
}
.a-i {
    font-style: italic;
}
.a-no-i {
    font-style: normal;
}
.a-u {
    text-decoration: underline;
}
.a-no-u {
    text-decoration: none;
}
.a-reset {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

/* highlight messages */
.highlight {
    color: yellow;
    font-weight: bold;
}

/* */
/* Mobile layout */
/* */
@media (max-width: 968px) {
    /* a different colour is too irregular on mobile */
    .repeated-time .cof-chat_time,
    .repeated-time .cof-chat_time_delimiters {
        color: #999;
    }

    #nicklist {
        -webkit-box-shadow: 0px 0px 120px #000;
        box-shadow: 0px 0px 120px #000;
        background: #282828;
    }

    .footer {
        background: rgb(24,24,24);
    }

}




